<div class="container">
  <div class="logo">
    <img class="img-logo" src="../../assets/img/PngItem_1722626.png" alt="">
  </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Busque uma carta">
      
          <button class="btn" type="button"><img class="lupa" src="../../assets/img/lupa.svg" alt=""></button>
      
      </div>
      <div class="container">
        <ul class="row">
          <div class="list-card" *ngFor="let card of card_info">
          <div class="card-banner">
          <li>
            <div class="card">
              <img src="https://storage.googleapis.com/ygoprodeck.com/pics_small/{{card?.id}}.jpg" class="img-card" alt="{{card?.name}}">
              <h3>{{card?.name}}</h3>
              <a routerLink="/details">details this card </a>
            </div>
          </li>
        </div>
      </div>
        </ul>
      </div>
</div>