<div class="container">
  <div class="logo">
    <img class="img-logo" src="../../assets/img/PngItem_1722626.png" alt="">
  </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Busque uma carta">
      
          <button class="btn" type="button"><img class="lupa" src="../../assets/img/lupa.svg" alt=""></button>
      
      </div>
      <div>
        <ul>
          <li>
            <div class="card">
              <img src="" alt="">
              <h3>Nome da carta</h3>
            </div>
          </li>
        </ul>
      </div>
</div>