.container{
    width: 100vw;
    align-items: center;
    text-align: center;
}
.img-logo{
    width: 100%;
    max-width: 400px;
}
.input-group{
    margin-top: 100px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius:20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.input-group:hover{
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.3);
}
.form-control{
border: none;
border-radius: 20px;
}
.row{
    list-style: none;
}
.card{
    border-radius: 0px 0px 20px 20px;
    border:none;
}
.list-card{
    text-align: center;
    margin-right: 20px;
    max-width: 300px;
}
.card-banner{
    max-width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    border :none;
  
    transition: ease-in 0.3s;
}
.card-banner:hover{
    box-shadow: 4px 3px  40px 10px rgba(0, 0, 0, 0.3);
}
.form-control:focus{
    box-shadow: none;
}

.btn{
    border: none;
    border-radius: 20px;
}
.btn:hover{
background: white;
border: none;
box-shadow: none;
transition: none;
}
.btn:focus{
  box-shadow:none; 
  border:none;
}

.lupa{
    width: 20px;
}
.lupa:hover{
    margin-top: -15px;
}
.img-card{
    width: 200px;
}
.seta{
    width: 20px;
    height: 20px;
    transition: ease-in 0.3s;
}
.seta:hover{
margin-top: -10px;
}
@media(min-width: 700px){

}